<div class="modal fade" id="deletePartnerModal" tabindex="-1" aria-labelledby="deletePartnerModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="deletePartnerModalLabel">Delete Partner</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                <p>Are you sure you want to delete partner "<span id="deletePartnerName"></span>"?</p>
                <p class="text-danger" id="deleteWarning" style="display: none;">
                    This partner cannot be deleted because it is referenced in other records (Sites, Contacts, or Documents).
                </p>
                <form id="deletePartnerForm" method="post" asp-page-handler="DeletePartner">
                    @Html.AntiForgeryToken()
                    <input type="hidden" id="deletePartnerId" name="PartnerId" />
                </form>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Cancel</button>
                <button type="button" class="btn btn-danger" id="confirmDeleteBtn">Delete</button>
            </div>
        </div>
    </div>
</div>